* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================== */
header {
    background-color: steelblue;
    padding: 10px 20px;
}

nav {
    background-color: steelblue;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin-right: 15px;
    font-weight: bold;
}

main {
    max-width: 840px;
    margin: 0 auto;
}

p {
    padding: 0;
}

h1 {
    color: steelblue;

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 /0.2);
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

aside p {
    margin-top: 10px;
    margin-bottom: 10px;

}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}